/*全局样式*/
body {
    background-image: url("./static/img/bg-1.jpg");
    background-attachment: fixed;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
p {
    font-size: 14px;
}

.nav {
    margin-bottom: 0;
}
.body {
    padding: 15px 0;
}