.block {
	overflow: hidden;
	background: #fff;
	box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.5);
	margin-bottom: 15px;
}
.btnRound {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	font-size: 36px;
	line-height: 0;
	text-indent: -1px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
	position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 999;
}
.card {
    composes: block;
}
.cardHeader {
	overflow: hidden;
	padding: 15px;
	border-bottom: 1px solid #ddd;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.cardHeader h2 {
    margin: 0;
    float: left;
	line-height: 30px;
	width: 80%;
}
.cardHeader h2 > a {
	display: block;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.close {
	float: right;
	font-size: 16px;
	line-height: 30px;
	color: #aaa;
}
.close:hover {
	color: #e74c3c;
}
.cardBody {
	overflow: hidden;
	padding: 15px;
	border-bottom: 1px solid #ddd;
}
.cardFooter {
	overflow: hidden;
	padding: 15px;
	font-size: 14px;
	color: #aaa;
}